.surface {
  background-color: #212121;
  color: white;
}

h1, h2, h3, h4, h5, .header {
  color: white !important;
}

input, .dropdown {
  background-color: #545454 !important;
  color: white !important;
}

.item {
  color: white !important;
}

.visible.menu.transition > .item {
  color: white !important;
  background-color: #545454 !important;
  border-color: #424242 !important;
}

.active.item {
  border-color: white !important;
}

.ui.pointing.secondary.menu {
  border-color: #757575 !important;
}

.ui.negative.message {
  color: red !important;
}

.ui.negative.message > .header {
  color: red !important;
}

a > .dropdown.icon {
  background-color: #212121 !important;
}